.form-image-uploader{
  padding: 3rem;
  background-color:rgb(243, 255, 242);
  border-radius: .3rem;
  border: dashed .4rem rgb(116, 240, 131);
  transition: background-color .4s, border .4s;
}

.space-bottom{
  margin-bottom: 3rem;
}

.form-image-uploader:hover{
  background-color:rgb(208, 238, 205);
  border: dashed .4rem rgb(101, 222, 115);
  transition: background-color .4s, border .4s;
}

input[type="file"].btn-none {
  background-color: none !important;
  color: black;
}

.img-upload{
  background-color: rgb(110, 212, 100);
  padding: 3rem;
  border-radius: .3rem;
  color: rgb(115, 112, 112);
  transition: color .5s;

}
.img-upload:hover{
  color:rgb(220, 220, 220);
  transition: color .5s;
}

.btn-transform{
  background-color: none;
  padding: .5rem 1rem;
}

.preview-origin-image, .preview-transform-image{
  width: 25rem;
  max-width: 30rem;

}