{% extends "./base/_base.html" %} 
{% block content %}


<div class="py-5">
  <div class="container">
    <div class="row-cols-10 row-cols-sm-10 row-cols-md-10 g-3">
        <div class="d-grid gap-3 bg-light">
          <p class="p-2 fs-3">本サイトについて</p>
          <p class="p-2">
            学習のアウトプットとして開発したダッシュボードやツールを公開します。<br>
            Webフレームワーク:Django<br>
            方針：ダッシュボードや画像認識、組み込みに関するツールを本サイトに実装していきます。<br>
          </p>


          <p class="p-2 fs-3">作成予定</p>
          <p class="p-2">・オートエンコーダーを用いた画像変換ツール。機能の例）ゴッホのタッチに画像を加工など。</p>

          <p class="p-2 fs-3">コード</p>
          <p class="p-2">・<a href="https://github.com/Kunihiro-ikd" target="_blank">github</a> </p>
      </div>
    </div>
</div>
{% endblock %}