{% load static %}

<!-- css -->
<link href="{% static 'assets/css/sample.css' %}" rel="stylesheet" />

<!-- js -->
<script src="{% static 'assets/js/sample.js' %}"></script>

<!-- image -->
<img src="{% static 'assets/img/sample.jpg' %}">

<h1>test</h1>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}